@import url('https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap');

:root {
  --light-blue: #2989a7;
  --dark-blue: #274d6d;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(135deg, var(--light-blue), rgb(115, 143, 161), var(--dark-blue), var(--light-blue), rgb(115, 143, 161), var(--dark-blue), var(--light-blue), rgb(115, 143, 161), var(--dark-blue));
  background-size: 400% 400%;
  animation: moveBg 15s ease-in-out infinite;
}

@keyframes moveBg {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 100%;
  }
}


.game {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  pointer-events: none;
}

#player {
  position: absolute;
  cursor: pointer;
  top: 25%;
  left: 25%;
  width: 70px;
  height: 80px;
  z-index: 10;
}

#lifeboat {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 100px;
  transform: translate(-50%, -50%);
  z-index: 10;
}

#island {
  position: absolute;
  bottom: 20px;
  right: 50px;
  width: 300px;
  height: 200px;
  z-index: 5;
}

#letsPlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-image: radial-gradient(circle, var(--light-blue), var(--dark-blue));
  transition: 0.8s ease-in-out;
}

.timePoints {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100px;
  padding: 10px;
  color: white;
  font-size: 25px;
}

.timeLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.pointsBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

#questionOneIcon {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 100px;
}

#questionTwoIcon {
  position: absolute;
  width: 70px;
  height: 70px;
  bottom: 100px;
  left: 300px;
}

.questionContainer {
  position: absolute;
  z-index: 50;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #298aa7e0;
  font-family: 'Gluten', cursive;
  line-height: 25px;
}

.questionBox {
  width: 50%;
  height: 50%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
}

.questionBox p {
  padding: 50px;
  font-size: 20px;
}

.answerBox {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#yesOne, #yesTwo {
  padding: 10px 20px;
  background-color: #29a749;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s;
}

#yesOne:hover, #yesTwo:hover {
  background-color: #125a24;
}

#noOne, #noTwo {
  padding: 10px 20px;
  background-color: #b81e1e;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 20px;
  cursor: pointer;
  transition: 0.5s;
}

#noOne:hover, #noTwo:hover {
  background-color: #6a0f0f;
}

.playContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Gluten', cursive;
  font-weight: 200;
  color: white;
  font-size: 1.5vw;
}

h1 {
  font-size: 4vw;
}

.questionText {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.questionText img {
  width: 4vw;
  height: 4vw;
}

.arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.arrow img {
  width: 6vw;
  height: 4.5vw;
}

#play {
  margin: 50px;
  padding: 15px 30px;
  background-color: white;
  color: var(--light-blue);
  border: none;
  border-radius: 20px;
  font-size: 3vw;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.404);
  cursor: pointer;
  transition: 0.5s;
}

#play:hover {
  background-color: var(--light-blue);
  color: white;
}

@media screen and (max-width: 1024px) {
  #island {
    width: 200px;
    height: 150px;
  }
  #questionOneIcon {
    width: 50px;
    height: 50px;
  }
  #questionTwoIcon {
    width: 50px;
    height: 50px;
  }
  #lifeboat {
    top: 30%;
    transform: translate(-10%, -10%);
  }
  .timePoints {
    right: 10px;
    padding: 0;
    font-size: 20px;
  }
  .questionBox {
    width: 70%;
    height: 70%;
  }
}

@media screen and (max-width: 768px) {
  #island {
    width: 100px;
    height: 80px;
  }
  #questionOneIcon {
    width: 30px;
    height: 30px;
  }
  #questionTwoIcon {
    width: 30px;
    height: 30px;
    left: 50px;
  }
  #lifeboat {
    width: 50px;
    height: 80px;
    top: 20%;
    transform: translate(-10%, -10%);
  }
  #player {
    width: 40px;
    height: 50px;
  }
  .timePoints {
    right: 10px;
    padding: 0;
    font-size: 16px;
  }
  .questionBox {
    width: 90%;
    height: 90%;
  }
  .questionBox p, #yesOne, #yesTwo, #noOne, #noTwo {
    font-size: 16px;
    padding: 10px 20px;
  }
}
@media screen and (max-width: 480px) {
  #island {
    width: 80px;
    height: 60px;
  }
  #questionOneIcon {
    width: 30px;
    height: 30px;
  }
  #questionTwoIcon {
    width: 30px;
    height: 30px;
    left: 50px;
  }
  #lifeboat {
    width: 30px;
    height: 60px;
    top: 20%;
    transform: translate(-10%, -10%);
  }
  #player {
    width: 30px;
    height: 40px;
  }
  .timePoints {
    right: 5px;
    width: 100px;
    padding: 0;
    font-size: 14px;
  }
  .questionBox {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  .questionBox p, #yesOne, #yesTwo, #noOne, #noTwo {
    font-size: 14px;
  }
}
@media screen and (max-width: 320px) {
  #island {
    width: 50px;
    height: 40px;
    right: 20px;
  }
  #questionOneIcon {
    width: 20px;
    height: 20px;
    top: 20px;
  }
  #questionTwoIcon {
    width: 20px;
    height: 20px;
    left: 100px;
  }
  #lifeboat {
    width: 30px;
    height: 60px;
    top: 10%;
    left: 10%;
    transform: translate(-10%, -10%);
  }
  #player {
    width: 30px;
    height: 40px;
  }
  .timePoints {
    right: 5px;
    width: 80px;
    padding: 0;
    font-size: 12px;
  }
  .questionBox p, #yesOne, #yesTwo, #noOne, #noTwo {
    font-size: 12px;
  }
}