@import './var-mixins';

#letsPlay {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  transition: 1.5s ease-in-out;

  .videoBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;

    video {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: translate(-50%, -50%);
      pointer-events: none;
    }
  }

  .playContainer {
    position: relative;
    border: 1px solid black;
    padding: 0 20px;
    z-index: 2;
    height: 100%;
    @include flex;
    flex-direction: column;
    @include gluten-font(300);
    color: white;
    background-color: rgba(0, 0, 0, 0.74);
    font-size: 2.2vw;

    h1 {
      font-size: 4vw;
    }

    .questionText {
      @include flex;
      gap: 10px;

      img {
        width: 4vw;
        height: 4vw;
      }
    }

    .arrow {
      @include flex;
      gap: 20px;

      img {
        width: 6vw;
        height: 4.5vw;
      }
    }

    #play {
      margin: 50px;
      padding: 15px 30px;
      background-color: white;
      color: $light-blue;
      border: none;
      border-radius: 20px;
      font-size: 3vw;
      box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.404);
      cursor: pointer;
      transition: 0.5s;

      &:hover {
        background-color: $light-blue;
        color: white;
      }
    }
  }
}

