@import './var-mixins';

#letsPlay {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  transition: 1.5s ease-in-out;

  .videoBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    overflow: hidden;

    video {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform: translate(-50%, -50%);
      pointer-events: none;
    }
  }

  .playContainer {
    position: relative;
    border: 1px solid black;
    padding: 0 20px;
    z-index: 2;
    height: 100%;
    @include flex;
    flex-direction: column;
    @include gluten-font(300);
    color: white;
    background-color: rgba(0, 0, 0, 0.74);

    h1 {
      font-size: 50px;
    }
    
    @media screen and (max-width:768px) {
      h1 {
        font-size: 20px;
      }
    }

    .playContainerText {
      font-size: 30px;
      text-wrap: wrap;
      line-height: 1.5;
      text-align: center;
    }

    @media screen and (max-width:768px) {
      .playContainerText {
        font-size: 15px;
      }
    }

    .questionText {
      @include flex;
      gap: 10px;

      p {
        font-size: 30px;
        text-align: center;
        line-height: 1.5;
      }

      @media screen and (max-width:768px) {
        p {
          font-size: 15px;
        }
      }

      img {
        width: 50px;
        height: 50px;
      }

      @media screen and (max-width:768px) {
        img {
          width: 25px;
          height: 25px;
        }
      }
    }

    .arrow {
      @include flex;
      gap: 20px;

      img {
        width: 70px;
        height: 50px;
      }

      @media screen and (max-width:768px) {
        img {
          width: 50px;
          height: 40px;
        }
      }

      p {
        font-size: 30px;
        line-height: 1.5;
      }

      @media screen and (max-width:768px) {
        p {
          font-size: 15px;
        }
      }
    }

    #play {
      margin: 50px;
      padding: 15px 30px;
      background-color: white;
      color: $light-blue;
      border: none;
      border-radius: 10px;
      font-size: 30px;
      box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.404);
      cursor: pointer;
      transition: 0.5s;

      &:hover {
        background-color: $light-blue;
        color: white;
      }
    }

    @media screen and (max-width:768px) {
      #play {
        padding: 10px 20px;
        font-size: 15px;
      }
    }
  }
}

