@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gluten:wght@100..900&display=swap");
.game {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.game canvas {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  pointer-events: none;
}
.game #player {
  position: absolute;
  cursor: pointer;
  top: 25%;
  left: 25%;
  width: 70px;
  height: 80px;
  z-index: 10;
}
@media screen and (max-width: 768px) {
  .game #player {
    width: 40px;
    height: 50px;
  }
}
@media screen and (max-width: 480px) {
  .game #player {
    width: 30px;
    height: 40px;
  }
}
@media screen and (max-width: 320px) {
  .game #player {
    width: 30px;
    height: 40px;
  }
}
.game #lifeboat {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 100px;
  transform: translate(-50%, -50%);
  z-index: 10;
}
@media screen and (max-width: 1024px) {
  .game #lifeboat {
    top: 30%;
    transform: translate(-10%, -10%);
  }
}
@media screen and (max-width: 768px) {
  .game #lifeboat {
    width: 50px;
    height: 80px;
  }
}
@media screen and (max-width: 480px) {
  .game #lifeboat {
    width: 30px;
    height: 60px;
  }
}
.game #island {
  position: absolute;
  bottom: 20px;
  right: 50px;
  width: 300px;
  height: 200px;
  z-index: 5;
}
@media screen and (max-width: 1024px) {
  .game #island {
    width: 200px;
    height: 150px;
  }
}
@media screen and (max-width: 768px) {
  .game #island {
    width: 100px;
    height: 80px;
  }
}
@media screen and (max-width: 480px) {
  .game #island {
    width: 80px;
    height: 60px;
    bottom: 250px;
  }
}
.game .controls {
  position: absolute;
  z-index: 15;
  bottom: 60px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.game .controls div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
@media screen and (min-width: 1024px) {
  .game .controls {
    display: none;
  }
}

.timePoints {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 150px;
  height: 100px;
  padding: 10px;
  color: white;
  font-size: 25px;
}
.timePoints .timeLeft, .timePoints .pointsBox {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

@media screen and (max-width: 1024px) {
  .timePoints {
    right: 10px;
    padding: 0;
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  .timePoints {
    right: 10px;
    padding: 0;
    font-size: 16px;
  }
}
@media screen and (max-width: 480px) {
  .timePoints {
    right: 5px;
    width: 100px;
    padding: 0;
    font-size: 14px;
  }
}
@media screen and (max-width: 320px) {
  .timePoints {
    right: 5px;
    width: 80px;
    padding: 0;
    font-size: 12px;
  }
}
#questionOneIcon {
  position: absolute;
  width: 70px;
  height: 70px;
  top: 100px;
}

@media screen and (max-width: 1024px) {
  #questionOneIcon {
    width: 50px;
    height: 50px;
  }
}
@media screen and (max-width: 768px) {
  #questionOneIcon {
    width: 30px;
    height: 30px;
    top: 40px;
    left: 40px;
  }
}
@media screen and (max-width: 480px) {
  #questionOneIcon {
    width: 30px;
    height: 30px;
  }
}
#questionTwoIcon {
  position: absolute;
  width: 70px;
  height: 70px;
  bottom: 100px;
  left: 300px;
}

@media screen and (max-width: 1024px) {
  #questionTwoIcon {
    width: 50px;
    height: 50px;
  }
}
@media screen and (max-width: 768px) {
  #questionTwoIcon {
    width: 30px;
    height: 30px;
    left: 50px;
  }
}
@media screen and (max-width: 480px) {
  #questionTwoIcon {
    width: 30px;
    height: 30px;
    left: 250px;
    top: 100px;
  }
}
.questionContainer {
  position: absolute;
  z-index: 50;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 138, 167, 0.8784313725);
  font-family: "Gluten", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
.questionContainer .questionBox {
  width: 450px;
  height: 450px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: white;
}
.questionContainer .questionBox p {
  padding: 0 50px;
  font-size: 30px;
  line-height: 1.5;
  text-align: center;
}
.questionContainer .questionBox .answerBox {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.questionContainer .questionBox .answerBox #yesOne, .questionContainer .questionBox .answerBox #yesTwo {
  padding: 10px 20px;
  background-color: #29a749;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 30px;
  cursor: pointer;
  transition: 0.5s;
}
.questionContainer .questionBox .answerBox #yesOne:hover, .questionContainer .questionBox .answerBox #yesTwo:hover {
  background-color: #125a24;
}
.questionContainer .questionBox .answerBox #noOne, .questionContainer .questionBox .answerBox #noTwo {
  padding: 10px 20px;
  background-color: #b81e1e;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 30px;
  cursor: pointer;
  transition: 0.5s;
}
.questionContainer .questionBox .answerBox #noOne:hover, .questionContainer .questionBox .answerBox #noTwo:hover {
  background-color: #6a0f0f;
}
@media screen and (max-width: 480px) {
  .questionContainer .questionBox .answerBox #yesOne, .questionContainer .questionBox .answerBox #yesTwo, .questionContainer .questionBox .answerBox #noOne, .questionContainer .questionBox .answerBox #noTwo {
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) {
  .questionContainer .questionBox p {
    padding: 10px 20px;
  }
}
@media screen and (max-width: 480px) {
  .questionContainer .questionBox {
    width: 100%;
    height: 100%;
    border-radius: 0;
    justify-content: center;
    gap: 100px;
  }
  .questionContainer .questionBox p {
    font-size: 15px;
  }
}

#letsPlay {
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  transition: 1.5s ease-in-out;
}
#letsPlay .videoBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
}
#letsPlay .videoBackground video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transform: translate(-50%, -50%);
  pointer-events: none;
}
#letsPlay .playContainer {
  position: relative;
  border: 1px solid black;
  padding: 0 20px;
  z-index: 2;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Gluten", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  color: white;
  background-color: rgba(0, 0, 0, 0.74);
}
#letsPlay .playContainer h1 {
  font-size: 50px;
}
@media screen and (max-width: 768px) {
  #letsPlay .playContainer h1 {
    font-size: 20px;
  }
}
#letsPlay .playContainer .playContainerText {
  font-size: 30px;
  text-wrap: wrap;
  line-height: 1.5;
  text-align: center;
}
@media screen and (max-width: 768px) {
  #letsPlay .playContainer .playContainerText {
    font-size: 15px;
  }
}
#letsPlay .playContainer .questionText {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
#letsPlay .playContainer .questionText p {
  font-size: 30px;
  text-align: center;
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  #letsPlay .playContainer .questionText p {
    font-size: 15px;
  }
}
#letsPlay .playContainer .questionText img {
  width: 50px;
  height: 50px;
}
@media screen and (max-width: 768px) {
  #letsPlay .playContainer .questionText img {
    width: 25px;
    height: 25px;
  }
}
#letsPlay .playContainer .arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
#letsPlay .playContainer .arrow img {
  width: 70px;
  height: 50px;
}
@media screen and (max-width: 768px) {
  #letsPlay .playContainer .arrow img {
    width: 50px;
    height: 40px;
  }
}
#letsPlay .playContainer .arrow p {
  font-size: 30px;
  line-height: 1.5;
}
@media screen and (max-width: 768px) {
  #letsPlay .playContainer .arrow p {
    font-size: 15px;
  }
}
#letsPlay .playContainer #play {
  margin: 50px;
  padding: 15px 30px;
  background-color: white;
  color: #2989a7;
  border: none;
  border-radius: 10px;
  font-size: 30px;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.404);
  cursor: pointer;
  transition: 0.5s;
}
#letsPlay .playContainer #play:hover {
  background-color: #2989a7;
  color: white;
}
@media screen and (max-width: 768px) {
  #letsPlay .playContainer #play {
    padding: 10px 20px;
    font-size: 15px;
  }
}

.nextLevelScreen {
  position: absolute;
  z-index: 50;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.nextLevelScreen .nextLevelContainer {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: radial-gradient(circle, #2989a7, #274d6d);
  border-radius: 10px;
  color: white;
  font-family: "Gluten", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
.nextLevelScreen .nextLevelContainer h2 {
  font-size: 30px;
  margin: 20px;
}
.nextLevelScreen .nextLevelContainer #updateBoat {
  border: 2px solid white;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 30px;
  background-color: transparent;
  color: white;
  font-family: "Gluten", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  transition: 0.5s ease-in-out;
}
.nextLevelScreen .nextLevelContainer #updateBoat:hover {
  background-color: white;
  color: #2989a7;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .nextLevelScreen .nextLevelContainer #updateBoat {
    font-size: 15px;
  }
}
.nextLevelScreen .nextLevelContainer .newContinue {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 20px;
}
.nextLevelScreen .nextLevelContainer .newContinue #continue {
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 30px;
  background-color: white;
  color: #2989a7;
  font-family: "Gluten", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  transition: 0.5s ease-in-out;
}
.nextLevelScreen .nextLevelContainer .newContinue #continue:hover {
  background-color: #2989a7;
  color: white;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .nextLevelScreen .nextLevelContainer .newContinue #continue {
    font-size: 15px;
  }
}
.nextLevelScreen .nextLevelContainer .newContinue #newGame {
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 30px;
  background-color: white;
  color: #2989a7;
  font-family: "Gluten", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  transition: 0.5s ease-in-out;
}
.nextLevelScreen .nextLevelContainer .newContinue #newGame:hover {
  background-color: #2989a7;
  color: white;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .nextLevelScreen .nextLevelContainer .newContinue #newGame {
    font-size: 15px;
  }
}
@media screen and (max-width: 480px) {
  .nextLevelScreen .nextLevelContainer {
    width: 100%;
    height: 100%;
  }
}

.timesUp {
  position: absolute;
  z-index: 50;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.timesUp .timesUpContainer {
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: radial-gradient(circle, #2989a7, #274d6d);
  border-radius: 20px;
  color: white;
  font-family: "Gluten", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "slnt" 0;
}
.timesUp .timesUpContainer h2 {
  font-size: 4vw;
  margin: 20px;
}
.timesUp .timesUpContainer #timeNewGame {
  border: none;
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 2vw;
  background-color: white;
  color: #2989a7;
  font-family: "Gluten", serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings: "slnt" 0;
  transition: 0.5s ease-in-out;
}
.timesUp .timesUpContainer #timeNewGame:hover {
  background-color: #2989a7;
  color: white;
  cursor: pointer;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(135deg, #2989a7, rgb(115, 143, 161), #274d6d, #2989a7, rgb(115, 143, 161), #274d6d, #2989a7, rgb(115, 143, 161), #274d6d);
  background-size: 400% 400%;
  animation: moveBg 15s ease-in-out infinite;
}

@keyframes moveBg {
  0% {
    background-position: 100% 100%; /* Start at bottom-right */
  }
  100% {
    background-position: 0% 0%; /* Move to top-left */
  }
}/*# sourceMappingURL=styles.css.map */